

{% extends 'base.html' %}
{% block style %}
  <style>
      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: arial;
      }

      .title {
        color: grey;
        font-size: 18px;
      }

      button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
      }

      a {
        text-decoration: none;
        font-size: 22px;
        color: black;
      }

      button:hover, a:hover {
        opacity: 0.7;
      }
      
  </style>
{% endblock style %}
{% block title %}
  all_category
{% endblock title %}
{% block head %}

	{% load static %}
  <!-- <link rel="stylesheet" href="{% static 'music/index.css' %}"> -->
{% endblock head %}
{% block body %}
{% if user.is_authenticated and user.is_staff %}
<button><a href="/addCategory/" class="alert-success" style="margin-left: 10px;">Add Category</a></button>
{% endif %}
<br>

{%if all_category_objects%}

<div class="row">
{% for list_object in all_category_objects %}
	<div class="col-md-4 col-lg-4 col-xl-3 col-sm-6">
		<div class="card" >
      {% if list_object.category_image %}
      <img src="{{list_object.category_image.url}}" alt="John" style="float: left; width:280x; height:280px;background-size:cover;">
      {% endif %}
      <h3>{{list_object.category_name}}</h3>
      <a href="/{{list_object.id}}"><p><button>Open</button></p></a>
      
    </div>
     <br>
  </div>

{% endfor %}
</div>
{%else%}
<h3>You don't have any album</h3>
{%endif%}
{% endblock body %}


